/* General styling for webpage */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ECF0F1;
    overflow-x: hidden;
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: auto;
}

body > p {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 10px;
}

/* Logo Image Styling */
.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h1 {
    color: #2C3E50;
    text-align: center;
}

/* Player configuration section */
.card {
    background-color: transparent;
    border: none;
margin-top: -50px;
}


#computer-image, #player-image{
       width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
        display: block;
    }
/* Start, Quit, Reset Buttons */
#button-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

#start-button, #quit-button, #reset-button {
    margin: 5px;
    display: inline-block;
}

#start, #quit, #reset {
    cursor: pointer;
}

#rock {
    background: url(../images/rock.png) no-repeat center center;
    background-size: auto;
    height: 250px;
    width: 250px;
    margin: 5px;
    border-radius: 150px;
    border: none;
    cursor: pointer;
}

#rock:hover {
    border: 5px solid #7F3333;
}

#paper {
    background: url(../images/paper.png) no-repeat center center;
    background-size: auto;
    height: 250px;
    width: 250px;
    margin: 5px;
    border-radius: 150px;
    border: none;
    cursor: pointer;
}

#paper:hover {
    border: 5px solid #f49536;
}

#scissors {
    background: url(../images/scissors.png) no-repeat center center;
    background-size: auto;
    height: 250px;
    width: 250px;
    margin: 5px;
    border-radius: 150px;
    border: none;
    cursor: pointer;
}

#scissors:hover {
    border: 5px solid #16537E;
}

#lizard {
    background: url(../images/lizard.png) no-repeat center center;
    background-size: auto;
    height: 250px;
    width: 250px;
    margin: 5px;
    border-radius: 150px;
    border: none;
    cursor: pointer;
}

#lizard:hover {
    border: 5px solid #38761D;
}

#spock {
    background: url(../images/spock.png) no-repeat center center;
    background-size: auto;
    height: 250px;
    width: 250px;
    margin: 5px;
    border-radius: 150px;
    border: none;
    cursor: pointer;
}

#spock:hover {
    border: 5px solid #6FA8DC;
}