/* General styling for webpage */
* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #ECF0F1;
    overflow-x: hidden;
    text-align: center;
    margin: auto;
     max-width: 75vw;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Logo Image Styling */
.nav img{
    margin-top: 30px;
}

/* Title Elements */
#titleElements{
    font-size: 2.5em;
    margin-top: 30px;
    opacity: 0;
    color: #2C3E50;
    text-align: center;
    font-weight: 600;
    animation: fadeInOut 3s ease-in-out infinite;
}

@keyframes fadeInOut{
    0%, 100% {opacity: 0}
    50% {opacity: 1;}
}

.game-rules{
    position: absolute;
    left: 50%;
    top: 5%;
    font-size: 1.3em;
}

#profession-select, #celebrity-select{
margin-bottom: 10px;
background-color: transparent;
border-radius: 10px;
color: #2C3E50;
}

#profession-select:hover, #celebrity-select:hover{
background-color: rgb(60, 11, 73);
color: white;
    border-color: rgb(3, 3, 46);
    }
/* Player configuration section */
.card {
    background-color: transparent;
    border: none;
}


#computer-image, #player-image{
       width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
        display: block;
    }

/* Start, Quit, Reset Buttons */
#button-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

#start-button, #quit-button, #reset-button {
    margin: 5px;
    display: inline-block;
}

#start, #quit, #reset {
    cursor: pointer;
}

/*Result Space */
#resultSpace{
    width: fit-content;
    margin: auto;
    border-color: #2C3E50;
    border-radius: 10px;
    background-color: rgb(6, 45, 2);
    color: #ECF0F1;
    padding: 10px;
}

#result-section{
    background-color: rgb(161, 159, 161);
    box-shadow: 10px 10px 15px;
    padding: 10px;
    border-radius: 10px;
}

/* Game Area */
#game-area{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

#game-area .col-md-2{
    margin: 10px;
    border-radius: 50%;
}

#game-area #rock{
    border-radius: 50%;
    border: 15px, #46494C, solid;
    padding: 15px;
    box-shadow: 5px 5px 30px;
}
#game-area #rock:hover{
    background-color: #46494C;
}

#game-area #paper{
    border-radius: 50%;
    border: 15px, #756114, solid;
    padding: 15px;
    box-shadow: 5px 5px 30px;
}
#game-area #paper:hover{
    background-color: #756114;
}
#game-area #scissors{
    border-radius: 50%;
    border: 15px, #533E36, solid;
    padding: 15px;
    box-shadow: 5px 5px 30px;
}
#game-area #scissors:hover{
    background-color:  #533E36;

}
#game-area #lizard{
    border-radius: 50%;
    border: 15px, #346F1B, solid;
    padding: 15px;
    box-shadow: 5px 5px 30px;
}
#game-area #lizard:hover{
    background-color: #346F1B;
}
#game-area #spock{
    border-radius: 50%;
    border: 15px, #361A6A, solid;
    padding: 15px;
    box-shadow: 5px 5px 30px;
}
#game-area #spock:hover{
    background-color:  #361A6A;
}